.sliderContainer {
  flex:1;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;  
  padding-left: 20px;
}

.sliderImagesContainer{
  display: flex;
  flex-direction: row-reverse;
}

@keyframes sliderImageSlideIn {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}

.sliderImageWrapper {
  animation: sliderImageSlideIn 0.8s ease-out 0s, fadeIn 2s ease-in-out 0s;
  flex-shrink: 0;
  padding: 10px 10px 10px 10px;
  position: relative;
  /* background-color: aquamarine; */
}

.sliderImage {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  transform:translateY(-50%);
  position: relative;
  box-sizing: border-box;
  /* padding:8px; */
  /* border: 1.5px #c54c4c00 solid; */
}

.sliderImageWrapper:hover .sliderImage{
  transform:translateY(-50%) scale(1.11);
  transition: all 0.2s ease-in;
}

.sliderImageWrapper:hover .sliderImage img{
  opacity: 0.6;
  transition: all 0.2s ease-in;
}

.editing {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.selected .editing{
  opacity: 1;
}

.selected .sliderImage {
  transform:translateY(-50%) scale(1.08);
  /* border: 1.5px #c54c4c66 solid; */
  transition: all 0.17s ease-in;
}

.selected .sliderImage img {
  opacity: 0.7;
  transition: all 0.17s ease-in;
}

.editingBox {
  background-color: rgba(255,255,255,0.3);
  padding:5px;
  border-radius: 8px;
  color: #333333;
}

.deleteIcon {
  height:24px;
  width:24px;
  border-radius: 12px;
  position: absolute;
  right:-10px;
  top:-5px;
  background-color: rgba(100,100,100,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
  touch-action: none;
}

.sliderImageWrapper:hover .deleteIcon{
  opacity: 1;
  pointer-events: unset;
}

