.sliderContainer {
  flex:1;
  display: flex;
  /* align-items: center; */
  overflow-x: scroll;  
  overflow-y: hidden;  
  position: relative;
}

.sliderContainer.vertical {
  overflow-x: hidden;
  overflow-y: scroll;  
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 0px;
  /* border-right: 1px solid black; */
}

.sliderScrollContainer{
  display: flex;
  flex:1;
  flex-direction: row;
  overflow: visible; 
  position: relative;
  align-items: center;
  padding-left: 20px;
}

.sliderContainer.vertical .sliderScrollContainer{
  flex-direction: column;
}

.sliderContentContainer{
  /* background-color: red; */
  position: relative;
  overflow: visible;
}

@keyframes sliderImageSlideIn {
  0% {
    width: 0px;
  }
  100% {
    width: var(--slider-image-width);
  }
}

@keyframes sliderImageSlideInVertical {
  0% {
    height: 0px;
  }
  100% {
    height: var(--slider-image-height);
  }
}

.sliderContainer.deleting .sliderImageWrapper{
  transition: none; 
}

.sliderImageWrapper.dragging {
  transition: none; 
  z-index: 9999;
}

.sliderImageWrapper.notDragging{
  animation: delay-zIndex-off 0.6s linear;
}

.sliderImageInner {
  animation: sliderImageSlideIn 0.8s ease-out 0s, fadeIn 2s ease-in-out 0s;
  display: flex;
  justify-content: center;
  align-content: center;
}

.sliderImageWrapper {
  /* animation: sliderImageSlideIn 0.8s ease-out 0s, fadeIn 2s ease-in-out 0s; */
  flex-shrink: 0;
  position: absolute;
  top:0;
  left:0;
  overflow: visible;  
  transition: transform 0.5s ease-in-out; 
  /* z-index: 1; */
}

.sliderImageWrapper.noPress{
  opacity: 0;
  pointer-events: none;
}

.sliderImageWrapper.pressed {
  background-color:rgba(200,200,200,0.4);
}

.sliderContainer.vertical .sliderImageWrapper {
  animation: sliderImageSlideInVertical 0.8s ease-out 0s, fadeIn 2s ease-in-out 0s;
  /* margin: 10px 0; */
}

.sliderImage {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  transform:translateY(-50%);
  position: relative;
  box-sizing: border-box;
  transition: transform 0.2s ease-in; 
  background-color: white;
}

.border .sliderImage {
  border: 1px solid black; 
}

.sliderImage::after{
  content :'';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(100,100,100,0.7);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.isDesktop .notDragging .sliderImageWrapper:hover .sliderImage::after{
  opacity: 1;
}

.isDesktop .sliderImageWrapper.dragging:hover .sliderImage::after{
  opacity: 1;
}

.sliderImage img{
  opacity: 0.8;
  object-fit: cover;
}
  
.statusWrapper {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.selected .statusWrapper{
  opacity: 1;
}

.selected .sliderImage::after{
  opacity: 0.7;
}

.statusWrapperBox {
  background-color: rgba(255,255,255,0.3);
  padding:5px;
  border-radius: 8px;
  color: #333333;
}

@media all and (max-width: 768px) {
  .statusWrapperBox {
    background-color: rgba(255,255,255,0);
    color: #CCCCCC;
  }
}

.chooseButtonWrapper {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -5px;
  left:0;
  opacity: 0;
  z-index: -9999;
}

.chooseButtonClickArea {
  padding:12px 4px;
  -webkit-tap-highlight-color: transparent;
  /* background-color: red; */
}

.chooseButton{
  font-size: 13px;
  color: #AAAAAA;
  height:22px;
  width:54px;
  border-radius: 6px;
  margin: 0 8px;
  background-color: #F2F2F2;
  display: flex;
  align-items:center;
  justify-content: center;
  -webkit-box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.3);
  z-index: 999;
  pointer-events: none;
}

.sliderLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2 ease-in;
}

.sliderLoader.hidden{
  opacity: 0;
}

.sliderLoader.hidden {
  opacity:0;
}

.coverText {
  position:absolute;
  text-align: center;
  margin-bottom: 8px;
  font-size: 14px;
  width:100%;
}

.coverText.hidden {
  opacity: 0;
}


.sliderButtonClickArea {
  position: absolute;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s ease-in;
}

.sliderButton{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: black;
  width:20px;
  height:20px;
}

.isDesktop .notDragging .sliderImageWrapper:hover .sliderButtonClickArea {
  opacity: 1;
  pointer-events: unset;
}

.isDesktop .notDragging .sliderImageWrapper.loading:hover .sliderButtonClickArea {
  opacity: 0;
  pointer-events: none;
}

.pressed .sliderButtonClickArea {
  opacity: 1;
  pointer-events: unset;
}

.sliderImageWrapper.dragging .sliderButtonClickArea {
  opacity: 1;
  pointer-events: unset;
}