#editorContainer {
  flex:1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 20px 20px;
}


#editorWindow {
  animation: fadeIn 1s ease-in-out 0s;
  flex:1;
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isMobile #editorWindow {
  overflow: hidden;
}

#editorImage {
  animation: fadeIn 0.2s ease-in-out;
  transition: none;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.editorArea{
  width:100%;
  height:100%;
  position: absolute;
  /* overflow: hidden; */
}

#editorImage.changing {
  animation: fadeOut 0.2s ease-in-out;
}

#editorImage.zooming {
  transition: transform 0.1s ease-in;
}

.object {
  position: absolute;
  top:0;
  left:0;
}

.textBox {
  position: absolute;
  width:100%;
  height:100%;
  transition: all 0s;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: center;
}

.headImage {
  position: absolute;
  width:100%;
  height:100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0s;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: center;
}

.headImage p{
  /* font-size: 30px; */
}

.headImage img{
  width:100%;
  height:100%;
  position: absolute;
}

.headImage.hidden {
  opacity: 1;
  pointer-events: none;
}

.headImageWarningContainer {
  position: absolute;
  right:0px;
  top:0px;
  transform-origin: 100% 0%;
}

.headImageWarning {
  background-color: red;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headImageWarningContainer:hover .headImageWarningTextOuter{
  opacity: 1;
}

.headImageWarningTextOuter {
  position: absolute;
  top:0px;
  transform-origin: 0% 0%;
  z-index: 9999;
  opacity: 0;
}

.headImageWarningText {
  font-size: 16px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  width:150px;
  height:50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.placeHolderImage{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: green;
}

.editorImage.fadeIn {
  opacity: 1;
}

#editorStartText {
  font-size: 30px;
  position: absolute;
  transition: opacity 0.3s ease-in; 
}

#editorStartText.fadeOut {
  opacity: 0;
}

.editButton {
  /* width:var(--button-size);
  height:var(--button-size); */
  width:24px;
  height:24px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  /* pointer-events: none; */
  z-index: 9999;
}

.isDesktop .editButton {
  pointer-events: none;
}

.isDesktop .tools.enabled .editButton {
  pointer-events: unset;
}

.isMobile .tools.enabled .editButton {
  animation: delay-pointer-events 1s linear;
}


.editButtonInner {
  width:18px;
  height:18px;
  /* background-color:  rgba(140,140,140,0.7); */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topRightButton {
  /* top: calc(var(--button-size) * -0.5);
  right: calc(var(--button-size) * -0.5); */
  top: -12px;
  right: -12px;
}

.bottomLeftButton {
  bottom: -12px;
  left:-12px;
}

.bottomRightButton {
  bottom: -12px;
  right: -12px;
}

.bottomRightButton .editButtonInner {
  /* transform: translate(-18px,-18px); */
}

.tools {
  position: absolute;
  height:100%;
  width:100%;
  border-color: black;
  border-style: solid;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.tools.enabled {
  opacity: 1;
}

.editorBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.pageNumber {
  height:25px;
  width:64px;
  margin: 0 8px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.pageArrow {
  width:25px;
  height:25px;
  padding:2px;
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: opacity 0.2s ease-in;
}

.pageArrow.disabled {
  opacity:0;
  pointer-events: none;
}

.textSetting {
  width:1px;
  height: 1px;
  z-index:999999;
  pointer-events:unset;
}

.textSetting.hidden{
  pointer-events:none;
  opacity:0;  
}

.test {background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

}

.textObject {
  background-size:     contain;                    
  background-repeat:   no-repeat;
  background-position: center center; 
  display: flex;
  justify-content: center;
  align-items: center; 
   
}

.addTextButton {
  position: absolute;
  top:15px;
  left:15px;
  color:white;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  transform-origin: 0% 0%;
}

.editTextToggle{
  width:28px;
  height:15px;
  top:-50px;
  left:20px;
  /* position: absolute; */
  background-color: rgba(120,120,120,0.3);
  transform-origin: 50% 50%;
  color:white;
  text-align: center;
  font-size: 12px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools.enabled .editTextToggle{
  pointer-events: unset;
}

.tools.enabled .editTextToggle.hidden{
  pointer-events: none;
  opacity: 0;
}

.textLoader {
  border: 13px solid #AAAAAA;
  border-top: 13px solid #FFFFFF;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  opacity: 0.7;
}

.titleSettingContainer {
  width:100%;
  height:100%;
  position:absolute;
  /* display:flex;
  align-items: center;
  justify-content: center; */
  z-index: 100;
}

.titleSettingBackground{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  position:absolute;
}

