.topBarContainer {
  width:100%;
  height:40px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top:10px;
}

.stepButton {
  display: flex;
  align-items: center;
  color:grey;
  width:50px;
  font-size: 15px;
  margin-right: 10px;
  -webkit-tap-highlight-color: transparent;
}

.stepButton.disabled {
  opacity: 0.6;
}

.closeApp {
  margin-left: auto;
}

.isMobile .closeApp {
  margin-left: 10px;
  margin-right: -10px;
}



