* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appContainer {
  width:100vw;
  display:flex;
  overflow:hidden;
  position: relative;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
  /* -webkit-tap-highlight-color: transparent; */
}

@media all and (min-width: 769px)  {
  .appContainer {
    flex-direction: row;
  }
}

@media all and (max-width: 768px) {
  .appContainer {
    flex-direction: column;
  }
}

@media all and (max-width: 768px) and (orientation: landscape)  {
  .appContainer {
    flex-direction: row;
  }
}


.ColumnRevContainer {
  display:flex;
  flex:1;
  flex-direction: column-reverse;
  overflow:hidden;
  position: relative;
}


.bottomRow {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;

  align-items: center;
  /* z-index: 999; */

  border-top: 1px solid black;

}

.overlay {
  position: absolute;
  z-index: 99999999;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  animation: fadeIn 0.2s ease-in-out;
}

.overlay.hidden{
  opacity: 0;
  pointer-events: none;
}

.loader {
  border: 10px solid #AAAAAA;
  border-top: 10px solid #FFFFFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.overlay.hidden .loader{
  opacity: 0;
  -webkit-animation: unset;
  animation: unset;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.centerChildren {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: opacity 0.2s ease-in;
}

.centerChildren.hidden{
  opacity: 0;
}


.overlayChildren {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: opacity 0.2s ease-in;
}

.overlayBox{
  border: 1px solid black;
  width: 500px;
  height:300px;
  max-width: 80%;
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlayButton{
  padding:10px 23px;
  margin:0 20px;
}

.overlay .hidden{
  pointer-events: none;
  opacity: 0;
}

.flexCenter {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}